{% extends 'base.html' %}


{% block title %}
Create Product
{% endblock title %}


{% block content %}

<form action="" method="post">
    {% csrf_token %}

    <label for="name">Name</label>
    <input type="text" name="name" id=""><br>

    <label for="price">Price</label>
    <input type="number" name="price" min="1" id="" step="0.1"><br>

    <label for="description">Description</label>
    <textarea name="description" id="" rows="10" cols="20"></textarea><br>

    <label for="brand">Brand</label><br>
    <select name="brand" id="">
        {% for brand in brands %}
        <option value="{{brand.name}}">{{brand.name}}</option>
        {% endfor %}
    </select>

    <input type="submit" value="Create Product">
</form>

{% endblock content %}